.card-input {
  height: 40px;
  width: 100%;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
}

input {
  padding: 5px;
  background-color: rgb(235, 247, 239);
}

input:focus {
  outline: none;
}

input:hover {
  cursor: text;
}
