.add-todo-button {
  display: block;
  height: 60px;
  width: 60px;
  margin-top: 30px;
  border-radius: 50%;
  background-color: rgb(167, 233, 187);
  border: none;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}

.add-todo-button:hover {
  cursor: pointer;
  background-color: rgb(113, 224, 147);
}
