.card {
  background-color: #fff;
  width: 500px;
  height: 800px;
  margin: 0;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
