.modal {
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 450px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
}

.input-container { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;
}

#edit-input {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(235, 247, 239);
  /* border-bottom: 1px solid rgb(113, 224, 147); */
}

#edit-input:focus::placeholder {
  opacity: 0;
}

#edit-input:focus {
  outline: none;
}

.edit-button {
  border-radius: 4px;
  background-color: rgb(167, 233, 187);
  transition: 0.3s ease-in-out;
}

.edit-button:hover {
  cursor: pointer;
  background-color: rgb(113, 224, 147);
}