.modal {
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 480px;
  border-radius: 4px;
  background-color: #f0ecde;
  box-shadow: 2px 6px 6px 2px rgb(221, 220, 220);
}

.modal-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0;
  background-color: rgb(232, 0, 0);
  border-radius: 4px 4px 0 0 ;
}

.modal-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
}

.error-icon {
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.close-icon {
  width: 12px;
  height: 12px;
}